.btn-red{
	padding: 15px 20px;
	background-color: #D9ADB9;
	color: black;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0px 5px 3px rgba(0,0,0,0,1);
}
.btn-red:hover {
	background-color: pink;
	align-items: center;
}